body, html {
	width: 100%;
	height: 100%;
}

.title {
	text-align: center;
	font-size: 22px;
	color: #000;
	padding-top: 10px;
	padding-bottom: 10px;
}

.container {
	background-color: #22B573;
	width: 95%;
	height: 89%;
	margin-top: 0%;
	margin-left: 2.5%;
}

.logo {
	float: right;
	display: inline-block;
	margin: 50px;
}

.navigation {
	display: inline-block;
	float: right;
	margin-top: 25px;
	font-size: 48px;
	font-family: 'Noto Sans';
}

.navigation-li {
	display: inline-block;
	margin: 20px;
}

.navigation-a {
	color: #fff;
}

.active {
	color: orange;
}

.box {
	background-color: #FCEE21;
	float: left;
	width: 49%;
	height: 50%;
	margin-left: 2%;
	margin-top: 10%;
}

.box2 {
	background-color: #FCEE21;
	float: right;
	width: 45%;
	height: 50%;
	margin-right: 2%;
	margin-top: 0.3%;
}

.photo {
	float: right;
	padding: 15px;
	width: 250px;
}

.photo2 {
	float: left;
	padding: 15px;
	width: 250px;
}

.clear {
	clear: both;
}

.text {
	padding: 15px;
}

.text2 {
	padding: 15px;
}

.text3 {
	padding: 15px;
}

.text4 {
	padding: 15px;
}
